<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd ">
    <reg:zookeeper id="regCenter" server-lists="${serverLists}"
                   namespace="${namespace}" base-sleep-time-milliseconds="${baseSleepTimeMilliseconds}"
    max-sleep-time-milliseconds="${maxSleepTimeMilliseconds}" max-retries="${maxRetries}" />
    <!--通知异常调度 -->
    <!--<job:simple id="${notifyErrorJob.id}" class="${notifyErrorJob.class}"-->
                             <!--registry-center-ref="regCenter" sharding-total-count="${notifyErrorJob.shardingTotalCount}"-->
                             <!--cron="${notifyErrorJob.cron}" sharding-item-parameters="${notifyErrorJob.shardingItemParameters}"-->
                             <!--monitor-execution="${notifyErrorJob.monitorExecution}"-->
                             <!--monitor-port="${notifyErrorJob.monitorPort}" failover="${notifyErrorJob.failover}"-->
                             <!--description="${notifyErrorJob.description}" disabled="${notifyErrorJob.disabled}"-->
                             <!--overwrite="${notifyErrorJob.overwrite}"-->
<!--/>-->
    <!--每日对账调度-收付款 -->
    <job:simple id="${payBillJob.id}" class="${payBillJob.class}"
                registry-center-ref="regCenter" sharding-total-count="${payBillJob.shardingTotalCount}"
                cron="${payBillJob.cron}" sharding-item-parameters="${payBillJob.shardingItemParameters}"
                monitor-execution="${payBillJob.monitorExecution}"
                monitor-port="${payBillJob.monitorPort}" failover="${payBillJob.failover}"
                description="${payBillJob.description}" disabled="${payBillJob.disabled}"
                overwrite="${payBillJob.overwrite}"
    />
    <!--每日对账调度-提现 -->
    <job:simple id="${payBillTakeCashJob.id}" class="${payBillTakeCashJob.class}"
                registry-center-ref="regCenter" sharding-total-count="${payBillTakeCashJob.shardingTotalCount}"
                cron="${payBillTakeCashJob.cron}" sharding-item-parameters="${payBillTakeCashJob.shardingItemParameters}"
                monitor-execution="${payBillTakeCashJob.monitorExecution}"
                monitor-port="${payBillTakeCashJob.monitorPort}" failover="${payBillTakeCashJob.failover}"
                description="${payBillTakeCashJob.description}" disabled="${payBillTakeCashJob.disabled}"
                overwrite="${payBillTakeCashJob.overwrite}"
    />
    <!--每日对账调度-退款 -->
    <job:simple id="${payBillReturnJob.id}" class="${payBillReturnJob.class}"
                registry-center-ref="regCenter" sharding-total-count="${payBillReturnJob.shardingTotalCount}"
                cron="${payBillReturnJob.cron}" sharding-item-parameters="${payBillReturnJob.shardingItemParameters}"
                monitor-execution="${payBillReturnJob.monitorExecution}"
                monitor-port="${payBillReturnJob.monitorPort}" failover="${payBillReturnJob.failover}"
                description="${payBillReturnJob.description}" disabled="${payBillReturnJob.disabled}"
                overwrite="${payBillReturnJob.overwrite}"
              />

    <!--删除快捷卡和个人结算卡-->
    <job:simple id="${bankCardJob.id}" class="${bankCardJob.class}"
                registry-center-ref="regCenter" sharding-total-count="${bankCardJob.shardingTotalCount}"
                cron="${bankCardJob.cron}" sharding-item-parameters="${bankCardJob.shardingItemParameters}"
                monitor-execution="${bankCardJob.monitorExecution}"
                monitor-port="${bankCardJob.monitorPort}" failover="${bankCardJob.failover}"
                description="${bankCardJob.description}" disabled="${bankCardJob.disabled}"
                overwrite="${bankCardJob.overwrite}"
    />

    <!--删除公司结算卡-->
    <job:simple id="${publicBankCardJob.id}" class="${publicBankCardJob.class}"
                registry-center-ref="regCenter" sharding-total-count="${publicBankCardJob.shardingTotalCount}"
                cron="${publicBankCardJob.cron}" sharding-item-parameters="${publicBankCardJob.shardingItemParameters}"
                monitor-execution="${publicBankCardJob.monitorExecution}"
                monitor-port="${publicBankCardJob.monitorPort}" failover="${publicBankCardJob.failover}"
                description="${publicBankCardJob.description}" disabled="${publicBankCardJob.disabled}"
                overwrite="${publicBankCardJob.overwrite}"
    />
</beans>

